{% load crispy_forms_tags %}
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark text-light" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-family: 'Pacifico', cursive;">Price Tracker!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <div class="px-2">
                <button class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#addItemModal">Add</button>
            </div>
            <div>
                <a href="{% url 'update-prices' %}"><button class="btn btn-outline-light">Update</button></a>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add an item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>